ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background: #1bc2a2;
    
  }
  
  ul li {
    display: block;
    position: relative;
    float: left;
    background: #1bc2a2;
  }

 li ul { display: none; }

ul li a {
  display: block;
  padding: 1em;
  text-decoration: none;
  white-space: nowrap;
  color: #fff;
}

ul li a:hover { background: #2c3e50; }

li:hover > ul {
    display: block;
    position: absolute;
  }
  
  li:hover li { float: none; }
  
  li:hover a { background: #1bc2a2; }
  
  li:hover li a:hover { background: #2c3e50; }
  
  .main-navigation li ul li { border-top: 0; }

  ul ul ul {
    left: 100%;
    top: 0;
  }

  ul:before,
ul:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

ul:after { clear: both; }

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }


  ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
  }
  ul.breadcrumb li {
    display: inline;
    font-size: 18px;
  }
  ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
  }
  ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
  }
  ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
  }

  .button {background-color: #008CBA;} /* Blue */

  .btn-group {
      margin: 20px;
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#1bc2a2;
    color: white;
    text-align: center;
 }

 .text-center {
  margin: 0;
  padding:0;
  text-align: center;
  position: absolute;
  top: 50%;
  left:50%;
  transform: translateX(-50%) translateY(-50%);
}
